/*Mark Sans*/
@font-face {
    font-family: 'manksans-mediumregular';
    src: url('../fonts/markSans/manksans-medium-webfont.woff2') format('woff2'),
         url('../fonts/markSans/manksans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manksans-mediummedium_italic';
    src: url('../fonts/markSans/manksans-mediumoblique-webfont.woff2') format('woff2'),
         url('../fonts/markSans/manksans-mediumoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manksansitalic';
    src: url('../fonts/markSans/manksans-oblique-webfont.woff2') format('woff2'),
         url('../fonts/markSans/manksans-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'manksansregular';
    src: url('../fonts/markSans/manksans-webfont.woff2') format('woff2'),
         url('../fonts/markSans/manksans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Acne*/
@font-face {
    font-family: 'Acne';
    src: url('../fonts/acne/AcneDemo-Regular.eot');
    src: local('☺'), url('../fonts/acne/AcneDemo-Regular.woff') format('woff'), 
                     url('../fonts/acne/AcneDemo-Regular.ttf') format('truetype'), 
                     url('../fonts/acne/AcneDemo-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}