/*Header default*/
#header-default{
	max-width: 1000px;
	width: 100vw;
	margin: 0 auto;
	padding: .5em 0;
}
/*Logo*/
.logo{}
.logo a{
	text-decoration: none;
	color: #2C2C2D;
}
.logo h1{
	font-size: 2em;
	font-family: 'Acne';
	font-weight: normal;
}
/*Nav default*/
#nav-default{}
#nav-default a{
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'manksansregular';
	font-size: .8em;
	color: #2C2C2D;
}