#main-default{
	max-height: 100%;
	height: 100vh;
	background-image: url('../image/bg-home.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 0; left: 0;
	z-index: 0;
}
#main-default:before{
	content: '';
	position: absolute;
	top: 0; left: 0;
	z-index: 0; 
	max-width: 100%; max-height: 100%;
	width: 100vw; height: 100vh;
	background: -moz-linear-gradient(-45deg, rgba(219,48,59,0.3) 0%, rgba(216,47,143,0.3) 19%, rgba(44,128,201,0.3) 81%, rgba(125,185,232,0.3) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(219,48,59,0.3) 0%,rgba(216,47,143,0.3) 19%,rgba(44,128,201,0.3) 81%,rgba(125,185,232,0.3) 100%);
	background: linear-gradient(135deg, rgba(219,48,59,0.3) 0%,rgba(216,47,143,0.3) 19%,rgba(44,128,201,0.3) 81%,rgba(125,185,232,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ddb303b', endColorstr='#4d7db9e8',GradientType=1 );
}
#main-default .frm-{
	position: relative;
	z-index: 2;
	-webkit-flex: initial;
	-moz-flex: initial;
	-ms-flex: initial;
	-o-flex: initial;
	flex: initial;
}